
body {
    header {
        background: #f00000;
        h2 {
        }
    }
    nav {
        background: #0f0000;
        ul {
            li {
            }
        }
    }
    main {
        background: #00f000;
        article {
            h1 {
            }
            section {
                background: #000f00;
            }
            aside {
                background: #0000f0;
            }
        }
    }
    footer {
        background: #00000f;
        h2 {
        }
    }
}
